<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Flutter_videoplayer_chewie">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="flutter_videoplayer_chewie"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name="MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Launchtime"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" 
             />   

</manifest>
